@mixin flex($display,$justify,$align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}


$background-color: rgba(243, 243, 243,1);
$yellow-background: rgb(255, 185, 3);
$green-background: rgb(87, 193, 121);
$red-background: rgb(241, 64, 93);
